	<div class="modal fade" id="minOrderValueModal" tabindex="-1" role="dialog" aria-labelledby="minOrderValueModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="background-color: #ffd9e8;border: 0;border-radius: 0;">
		<div class="modal-header" style="border:0">
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body" style="text-align: center;">
			<h3>Vid köp av kläder utan tryck, är vårt minsta ordervärde 1000kr.</h3><br>
			 <strong>Kvar till minsta ordervärde {{ 1000 - carttotalvalue }}kr</strong><br><br>
			  <i class="fa fa-truck"></i> Självklart är det alltid fraktfri leverans som gäller.
		</div>
		<div class="modal-footer"style="border:0">
			<button type="button" class="primaryButton" data-bs-dismiss="modal">Okej!</button>
		</div>
		</div>
	</div>
	</div>

<div class="left">
{% if customized == 1 %}
<div class="box-green-global">
<h3 style="isplay: flex;align-items: center;">Vad roligt att du ska profilera! <img src="image/empji-party.png" style="width:25px; margin-left:5px;"></h3>
<p>Vi älskar att profilera på artiklar. Lägg plagg, färger och storlekar som du önskar i varukorgen, därefter fyller du i kontaktuppgifter och tryckinstruktioner i nästa steg. Du får alltid godkänna en skiss och en offert innan beställningen blir bindande.</p>
</div>  
{% endif %}
	{% if customize_product_found>0 and count_cart_items < 10  %}
	<div class="alert alert-warning alert-dismissible mt-3" style="padding:20px 30px;">
		<div class="row">
			<div class="col-sm-12 align-self-center">
			<h3>Förfå antal!</h3>
			<h4>Vi ser att du har lagt färre än 10 plagg i din förfrågan. Vi vill uppmärksamma dig på att våra priser är optimerade för 10 plagg och uppåt.</h4>
			Vi kan självklart trycka färre antal artiklar men styckpriset per artikel blir ganska högt. Vår minsta profilerings kostnad ligger på 1200kr exkl. moms. Därav blir det billigare för dig att välja fler antal artiklar.  <a href="/profilklader" class="link_underline">Lägg till fler artiklar <i class="fa fa-arrow-right"></i></a>
			</div>
		</div>
	</div>
	{% endif %}
{% for product in products %}
  <div class="section-1 mt-2">
    <div class="left-side">
      <div class="product-div">
        {% if product.thumb %} 
          <a href="{{ product.href }}">
            <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="product-img" />
          </a> 
        {% endif %}
      </div>
      <div class="wrapper">
        <div class="detail-div">
          <h3><a href="{{ product.href }}">{{ product.name }}</a>{% if not product.stock %} <span class="text-danger">***</span>{% endif %}</h3>
          <h4>{{ product.quantity }} x {{ product.price }}</h4>
          <p>
            {% for option in product.option %}
            {% if 'Storlek' not in option.name and option.name != 'Size' %}
              {{ option.value }} 
              {% if not loop.last %}
                 |
              {% endif %}
            {% endif %}
            {% endfor %}
          </p>
        </div>
        <div class="right-side">
          <div class="detail-div">
            <p>{{ product.total }}</p>
            <div style="position: relative">
              <div>
                <form method="post" data-oc-target="#shopping-cart"  >
                  <input type="hidden" name="quantity" value="{{ product.quantity }}" size="1" class="form-control">
                  <input type="hidden" name="product_id" value="{{ product.product_id }}">
                  {% for option in product.option %}
                  <input type="hidden" name="key[]" value="{{ option.cart_id }}">
                  {% endfor %}
                  <button type="submit" formaction="{{ product_remove }}" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn"><img class="delete_shopping_cart_icon" style="cursor:pointer;margin-top: -10px;" src="image/deleteIcon.svg"></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-2">
    <table class="table cart-table-articles">
      <thead>
        <tr>
          <th scope="col">Artikel</th>
          <th scope="col">Antal</th>
          <th scope="col">Pris</th>
          <th scope="col">Totalt</th>
        </tr>
      </thead>
      <tbody>
  {% for option in product.option %}
  {% if option.name == 'Size' or 'Storlek' in option.name %}
          <tr>
            <td>{{ option.value }} </td>
            <td>
              <div class="input-group">
                <div class="input-group">
                  <form method="post" data-oc-target="#shopping-cart" >
                    <input type="hidden" name="quantity" value="{{ option.quantity - 1 }}" size="1" class="form-control">
                    <input type="hidden" name="key" value="{{ option.cart_id }}">
                    <input type="hidden" name="option_id" value="{{option.product_option_id}}">
                    <input type="hidden" name="option_value_id" value="{{option.product_option_value_id}}">
                    <button type="submit" formaction="{{ product_edit }}" data-bs-toggle="tooltip" title="{{ button_update }}" class="btn btn-outline-secondary">-</button>
                  </form>
                  <span class="mx-2">{{ option.quantity }}</span>
                  <form method="post" data-oc-target="#shopping-cart" >
                    <input type="hidden" name="quantity" value="{{ option.quantity + 1 }}" size="1" class="form-control">
                    <input type="hidden" name="key" value="{{ option.cart_id }}">
                    <input type="hidden" name="option_id" value="{{option.product_option_id}}">
                    <input type="hidden" name="option_value_id" value="{{option.product_option_value_id}}">
                    <button type="submit" formaction="{{ product_edit }}" data-bs-toggle="tooltip" title="{{ button_update }}" class="btn btn-outline-secondary">+</button>
                  </form>
                </div>
              </div>
            </td>
            <td>{{ product.price }}</td>
            {% set price = 0 + product.price|number_format(2,'.',',') %}
            {% set  quantity = 0 + option.quantity|number_format(2,'.',',') %}
            <td>{{ (price * quantity)|number_format(2,'.',',') }} {{product.currency}}</td>
          </tr>
  {% endif %}
  {% endfor %}
        {% for print_product in product.group_products %}
          <tr class="table-bottom-content">
            <td>
              {{ print_product.name }}
            </td>
            
              {% if 'Startup' in print_product.name %}
                  <td>{{ print_product.quantity }}</td>
                  <td>{{ print_product.price }}</td>
                  <td>{{ print_product.total }}</td>
              {% else %}
                  <td>{{ print_product.quantity }}</td>
                  <td>{{ print_product.price }}</td>
                  <td>{{ print_product.total }}</td>
              {% endif %}
            
            
            
          </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
{% endfor %}
  {# {% if customized == 1 %}
  <hr>
    <p class="cutomize-details-heading">Profilering för dina artiklar</p>
    <div class="print-file-box">
      <div class="radio-button-box">
        <div class="d-flex flex-row" style="width: 130px">
          <p class="print-file-text" style="margin-bottom: 0rem">
            Tryckfil
          </p>
          <!--
          <img src="image/info.svg" alt="Info" style="width: 18px; height: 18px; margin-top: 3px">
          -->
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="upload_files" id="flexRadioDefault1" checked>
          <label class="form-check-label" for="flexRadioDefault1">
            Jag vill skicka tryckfil senare
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="upload_files" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Jag vill ladda upp tryckfilen nu
          </label>
        </div>
      </div>
    </div>
    <div class="input-group" id="fileUploadDiv" style="display:none;">
      <div class="file-input-wrapper">
        <input type="file" name="files[]" id="file-input" accept=".jpg, .jpeg, .png" multiple>
        <input type="hidden" id="file-name">
        <label for="file-input" class="file-input-label">
          <span><img src="image/upload.svg" alt="Upload" style="margin-bottom: 2px; margin-right: 5px"></span>
          <span class="file-size-limit">Välj fil för profilering</span>
        </label>
      </div>
      <div id="selected-file" class="selected-file mt-2">
      </div>
    </div>


    {% if screen_color %}
      <hr class="horizontal-line">

      <div class="radio-button-box">
        <div class="d-flex flex-row" style="width: 130px">
          <p class="print-file-text" style="margin-bottom: 0rem">
            Tryckfärg
          </p>
          <img src="image/info.svg" alt="Info" style="width: 18px; height: 18px; margin-top: 3px">
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="select_colors" id="flexRadioDefault3" checked>
          <label class="form-check-label" for="flexRadioDefault3">
            I want suggestion for printing color
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="select_colors" id="flexRadioDefault4" >
          <label class="form-check-label" for="flexRadioDefault4">
            I want to specify print color
          </label>
        </div>
      </div>

      <div class="select-box-container" id="ColorsDiv">
      {% for i in 1..(screen_color) %}
        <div class="select-box">
          <p class="select-box-label">
            Color 0{{ i }} <span>*</span>
            <span><img src="image/wheel-1.svg" alt="Wheel"></span>
          </p>
          <select class="form-select form-select-lg" aria-label=".form-select-lg example">
            <option selected="">Select</option>
            <option value="1">Red</option>
            <option value="2">Green</option>
            <option value="3">Blue</option>
          </select>
        </div>
      {% endfor %}
      </div>
    {% endif %}
    <hr class="horizontal-line">

    <div class="text-area-section">
      <p>Meddelande <span style="color: red">*</span></p>
      <div class="input-group">
        <textarea class="form-control custom_message" aria-label="With textarea" placeholder="Ev. meddelande"></textarea>
      </div>
    </div>
  {% endif %} #}
</div>
<div class="right">
  <div class="order-summary">
    <h3>Ordersummering</h3>
    
      {% for total in totals %}
      
        {% if total.title == 'Total' %}
          <div class="grand-total">
            <p>{{ total.title }}</p>
              <p>{{ total.text }}</p>
          </div>
        {% else %}
          <div class="border-bottom mb-3 mt-4">
            <div>
              <p>{{ total.title }}</p>
              <p>{{ total.text }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      <div class="buttons-box">
      {% if customized == 1 or notSurePrint == 1 %}
        
          <a 
          {% if carttotalvalue < 1000 %}
            data-bs-toggle="modal" data-bs-target="#minOrderValueModal"
          {% else %}
            href="{{ quotation }}" onclick="window.location.href='make-quotation.html'"
          {% endif %}
          class="outlinedButton">
            Skapa offert
            <img src="image/arrow_right.svg" alt="">
          </a>
      {% else %}
        <a
        {% if carttotalvalue < 1000 %}
							data-bs-toggle="modal" data-bs-target="#minOrderValueModal"
						{% else %}
							href="{{ checkout }}" onclick="window.location.href='thank-you.html'" 
						{% endif %}
          class="primaryButton" style="padding-block: 24px">
          Gå till kassan
          <img src="image/arrow_right_white.svg" alt="">
      </a>
      {% endif %}
    </div>
  </div>
</div>
<script type="text/javascript">
  $.ajax({
    url: 'index.php?route=checkout/cart.productsCount',
    dataType: 'json',
    contentType: 'application/x-www-form-urlencoded',
    success : function(json){
      if(json['productsCount'] > 1){
        if($('#lblCartCount').length){
          $('.cart_icon').attr('data-bs-original-title','Visa varukorg('+[json['productsCount']]+')');
          $('#lblCartCount').text(json['productsCount']);
        }
      }
    }
  });

</script>