{{ header }}
<main class="main-body profile-container">
  <div class="profile-breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      
      {% if loop.last %}
      <span class="item">{{ breadcrumb.text }}</span>
      {% else %}
      <a href="{{ breadcrumb.href }}"><span class="item active">{{ breadcrumb.text }}</span></a>
      <span class="round"></span>
      {% endif %}

    {% endfor %}
  </div>
  <div class="center-container">
    {{ column_left }}
    <div class="right">
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> {{ success }}</div>
  {% endif %}
    </div>
  </div>

{{ footer }}
