<form method="post" data-oc-toggle="ajax" data-oc-load="{{ wishlist }}" data-oc-target="#wishlist" class="wishlist-form search-result-item">
  
  <div class="product-list-item">
      <div class="visual">
      <div class="card-length">
        <div class="tags">
          <div class="tag1">
            {% if tags %}
                {% for i in 0..(tags|length - 1) %}
                  <div class="tag2">
                    <p>{{ tags[i].tag }}</p>
                  </div>
                {% endfor %}
            {% endif %}
          </div>
          {% if  manufacturer.thumb %}
          <div class="manufacturer-logotype">
            <img src="{{manufacturer.thumb}}" alt="{{manufacturer.name}}"/>
          </div>
          {% endif %}
          <div class="favourite">
          {% if  wishlist_data and product_id in wishlist_data|column('product_id') %}
               <button type="submit" formaction="{{ remove }}" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn wishlist-button" data-remove_url="{{ remove }}" data-addwishlist_url="{{ add_to_wishlist }}"><img src="image/wishlist1.svg" alt="Remove from wishlist" /></button>
            {% else %}
              <button type="submit" style="border: none;background: none;" formaction="{{ add_to_wishlist }}" data-bs-toggle="tooltip" title="{{ button_wishlist }}" class="btn wishlist-button" data-remove_url="{{ remove }}" data-addwishlist_url="{{ add_to_wishlist }}">
                <img src="image/wishlist.svg" alt="Lägg till i önskelista" />
              </button>
          {% endif %}
          </div>
        </div>
        <a href="{{ href }}" style="color :black;text-decoration:none">
        <div class="pic">
          <img src="{{ thumb }}" alt="" />
        </div>
        </a>
      </div>
      </div>
      <a href="{{ href }}" style="color :black;text-decoration:none">
      <div class="detail">

        <h6>{{ name }}</h6>
        <p>
          {{ description }}
        </p>
        {% if not special %}
          <p class="from-amount"><b>{{ price }}</b></p>
        {% else %}
        <p class="from-amount"><b>{{ special }}</b></p>
        {% endif %}
      </div>
      </a>
    </div>
    <input type="hidden" name="product_id" value="{{ product_id }}"/>
    <input type="hidden" name="quantity" value="{{ minimum }}"/>
</form>
