{{ header }}

<div class="ocme-config">
	<div class="row">
		<div class="col-xs-2">
			<div class="nav-tabs-wrapper">
				<ul class="nav nav-tabs tabs-left">
					<li class="nav-item{{ ocme.oc().isV4() ? '' : ' active' }}"><a class="nav-link{{ ocme.oc().isV4() ? ' active' : '' }}" href="#tab-attributes" data-toggle="tab" data-bs-toggle="tab">{{ ocme.trans('module::global.text_attributes') }}</a></li>
					<li class="nav-item"><a class="nav-link" href="#tab-ajax" data-toggle="tab" data-bs-toggle="tab">{{ ocme.trans('module::global.text_ajax') }}</a></li>
					<li class="nav-item"><a class="nav-link" href="#tab-cache" data-toggle="tab" data-bs-toggle="tab">{{ ocme.trans('module::global.text_cache') }}</a></li>
				</ul>
			</div>
		</div>
		<div class="col-xs-10">
			<div class="tab-content">
				<div id="tab-attributes" class="tab-pane active">
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ ocme.trans('module::global.text_values_separator') }}</label>
						<div class="col-sm-10">
							<select class="form-control" name="variables[attribute][values_separator]">
								{% for separator in ocme.config().get('attribute.value_separators') %}
									<option value="{{ separator.value }}" {{ ocme.variable().store(ocme.request().get('store_id')).get('attribute.values_separator') == separator.value ? ' selected="selected"' : '' }}>{{ separator.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ ocme.trans('module::global.text_displayed_values_separator') }}</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="variables[attribute][displayed_values_separator]" value="{{ ocme.variable().store(ocme.request().get('store_id')).get('attribute.displayed_values_separator') }}" />
						</div>
					</div>
				</div>
				<div id="tab-ajax" class="tab-pane">
					<ul class="nav nav-tabs">
						<li class="nav-item{{ ocme.oc().isV4() ? '' : ' active' }}"><a class="nav-link{{ ocme.oc().isV4() ? ' active' : '' }}" href="#tab-settings-ajax-wrapper" data-toggle="tab" data-bs-toggle="tab">{{ ocme.trans('module::global.text_wrapper') }}</a></li>
						<li class="nav-item"><a class="nav-link" href="#tab-settings-ajax-selectors" data-toggle="tab" data-bs-toggle="tab">{{ ocme.trans('module::global.text_selectors') }}</a></li>
						<li class="nav-item"><a class="nav-link" href="#tab-settings-ajax-hooks" data-toggle="tab" data-bs-toggle="tab">{{ ocme.trans('module::global.text_hooks') }}</a></li>
					</ul>
					<div class="tab-content">
						<div id="tab-settings-ajax-wrapper" class="tab-pane active">
							<div class="form-group">
								<label class="control-label col-lg-2">{{ ocme.trans('module::global.text_list_of_products_wrapper') }}</label>
								<div class="col-lg-10">
									<select class="form-control" name="variables[config_global][products_wrapper.insert]">
										<option value="between_content_top_and_content_bottom" {{ ocme.variable().store(ocme.request().get('store_id')).get('config_global.products_wrapper.insert') == 'between_content_top_and_content_bottom' ? ' selected="selected"' : '' }}>{{ ocme.trans('module::global.text_insert_between_content_top_and_content_bottom') }}</option>
										<option value="0" {{ ocme.variable().store(ocme.request().get('store_id')).get('config_global.products_wrapper.insert') == '0' ? ' selected="selected"' : '' }}>{{ ocme.trans('module::global.text_no_insert_products_wrapper') }}</option>
									</select>
									<div class="ocme-bd-callout ocme-bd-callout-info">{{ ocme.trans('module::global.text_list_of_products_wrapper_help') }}</div>
									
									<hr />
									<div class="input-group">
										<span class="input-group-addon">{{ ocme.trans('module::global.text_id') }}</span>
										<input type="text" name="variables[config_global][products_wrapper.id]" class="form-control" value="{{ ocme.variable().get('config_global.products_wrapper.id') }}">
									</div>
									<hr />
									<div class="input-group">
										<span class="input-group-addon">{{ ocme.trans('module::global.text_wrapper_extra_css_classes') }}</span>
										<input type="text" name="variables[config_global][products_wrapper.extra_class]" class="form-control" value="{{ ocme.variable().get('config_global.products_wrapper.extra_class') }}">
									</div>
								</div>
							</div>
						</div>
						
						<div id="tab-settings-ajax-selectors" class="tab-pane">
							<div class="ocme-bd-callout ocme-bd-callout-info">{{ ocme.trans('module::global.text_filter_settings_selectors_guide') }}</div>

							<div class="form-group">
								<label class="control-label col-lg-2">{{ ocme.trans('module::global.text_main_selector') }}:</label>
								<div class="control-content col-lg-10">
									<div class="input-group">
										<span class="input-group-addon">jQuery(</span>
										<input type="text" name="variables[config_global][configuration.javascript.main_selector]" class="form-control" value="{{ ocme.variable().get('config_global.configuration.javascript.main_selector') }}">
										<span class="input-group-addon">).first()</span>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-lg-2">{{ ocme.trans('module::global.text_header_selector') }}:</label>
								<div class="control-content col-lg-10">
									<div class="input-group">
										<span class="input-group-addon">jQuery(</span>
										<input type="text" name="variables[config_global][configuration.javascript.header_selector]" class="form-control" value="{{ ocme.variable().get('config_global.configuration.javascript.header_selector') }}">
										<span class="input-group-addon">).first()</span>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-lg-2">{{ ocme.trans('module::global.text_pagination_selector') }}:</label>
								<div class="control-content col-lg-10">
									<div class="input-group">
										<span class="input-group-addon">jQuery(</span>
										<input type="text" name="variables[config_global][configuration.javascript.pagination_selector]" class="form-control" value="{{ ocme.variable().get('config_global.configuration.javascript.pagination_selector') }}">
										<span class="input-group-addon">).first()</span>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-lg-2">{{ ocme.trans('module::global.text_first_product_selector') }}:</label>
								<div class="control-content col-lg-10">
									<div class="input-group">
										<span class="input-group-addon">jQuery(</span>
										<input type="text" name="variables[config_global][configuration.javascript.first_product_selector]" class="form-control" value="{{ ocme.variable().get('config_global.configuration.javascript.first_product_selector') }}">
										<span class="input-group-addon">)</span>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-lg-2">{{ ocme.trans('module::global.text_breadcrumb_selector') }}:</label>
								<div class="control-content col-lg-10">
									<div class="input-group">
										<span class="input-group-addon">jQuery(</span>
										<input type="text" name="variables[config_global][configuration.javascript.breadcrumb_selector]" class="form-control" value="{{ ocme.variable().get('config_global.configuration.javascript.breadcrumb_selector') }}">
										<span class="input-group-addon">)</span>
									</div>
								</div>
							</div>
						</div>
					
						<div id="tab-settings-ajax-hooks" class="tab-pane">
							<div class="ocme-bd-callout ocme-bd-callout-danger mb-25">{{ ocme.trans('module::global.text_please_be_careful') }}</div>
							<div class="form-group">
								<label class="col-lg-12">{{ ocme.trans('module::global.text_javascript_before_render') }}:</label>
								<div class="control-content col-lg-12">
									<div class="input-group">
										<span class="input-group-addon">function() {</span>
										<textarea rows="10" name="variables[config_global_js_hook][before_render]" class="form-control">{{ ocme.variable().get('config_global_js_hook.before_render') }}</textarea>
										<span class="input-group-addon">}</span>
									</div>
									<div class="ocme-bd-callout ocme-bd-callout-info">{{ ocme.trans('module::global.text_javascript_before_render_help') }}</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-12">{{ ocme.trans('module::global.text_javascript_after_render') }}:</label>
								<div class="control-content col-lg-12">
									<div class="input-group">
										<span class="input-group-addon">function() {</span>
										<textarea rows="10" name="variables[config_global_js_hook][after_render]" class="form-control">{{ ocme.variable().get('config_global_js_hook.after_render') }}</textarea>
										<span class="input-group-addon">}</span>
									</div>
									<div class="ocme-bd-callout ocme-bd-callout-info">{{ ocme.trans('module::global.text_javascript_after_render_help') }}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="tab-cache" class="tab-pane">
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ ocme.trans('module::global.text_flush_cache') }}</label>
						<div class="col-sm-10">
							<button id="ocme-flush-cache" type="button" class="btn btn-danger"><i class="fa fa-trash"></i> {{ ocme.trans('module::global.text_clear_all_cache') }}</button>
						</div>
					</div>
					<fieldset class="ocme-form-section">
						<legend class="ml-0">{{ ocme.trans('module::global.text_database_cache') }}</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label">{{ ocme.trans('module::global.text_status') }}</label>
							<div class="col-sm-10">
								<select class="form-control" name="variables[cache][db.status]">
									<option value="0" {% if ocme.variable().get('cache.db.status') == '0' %}selected="selected"{% endif %}>{{ ocme.trans('module::global.text_no') }}</option>
									<option value="1" {% if ocme.variable().get('cache.db.status') == '1' %}selected="selected"{% endif %}>{{ ocme.trans('module::global.text_yes') }}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">{{ ocme.trans('module::global.text_time') }}</label>
							<div class="col-sm-10">
								<select class="form-control" name="variables[cache][db.time]">
									<option value="60" {% if ocme.variable().get('cache.db.time') == '60' %}selected="selected"{% endif %}>1 {{ ocme.trans('module::global.text_hour') }}</option>
									<option value="120" {% if ocme.variable().get('cache.db.time') == '120' %}selected="selected"{% endif %}>2 {{ ocme.trans('module::global.text_hours') }}</option>
									<option value="360" {% if ocme.variable().get('cache.db.time') == '360' %}selected="selected"{% endif %}>6 {{ ocme.trans('module::global.text_hours') }}</option>
									<option value="720" {% if ocme.variable().get('cache.db.time') == '720' %}selected="selected"{% endif %}>12 {{ ocme.trans('module::global.text_hours') }}</option>
									<option value="1440" {% if ocme.variable().get('cache.db.time') == '1440' %}selected="selected"{% endif %}>1 {{ ocme.trans('module::global.text_day') }}</option>
									<option value="2880" {% if ocme.variable().get('cache.db.time') == '2880' %}selected="selected"{% endif %}>2 {{ ocme.trans('module::global.text_days') }}</option>
									<option value="10080" {% if ocme.variable().get('cache.db.time') == '10080' %}selected="selected"{% endif %}>7 {{ ocme.trans('module::global.text_days') }}</option>
								</select>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</div>
						
<script type="text/javascript">
	(function(){
		jQuery('#ocme-flush-cache').click(function(){
			var _this = jQuery(this);
			
			_this.prop('disabled', true);
			_this.find('i').removeClass('fa-trash').addClass('fa-spin fa-spinner');
			
			jQuery.get(ocme_fix_url('{{ action_flush_cache }}'), {}, function(){
				_this.prop('disabled', false);
				_this.find('i').removeClass('fa-spin fa-spinner').addClass('fa-trash');
			});
		});
	})();
</script>
							
{{ footer }}